body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	padding: 0;
  margin: 0;
}

a {
	text-decoration: none;
	color: #007bff;
}

a:hover {
	text-decoration: underline;
}

.navbar-list {
	list-style: none;
	display: flex;
	width: fit-content;
	margin: auto;
	gap: 12px;
	padding: 16px 0;
}
