{% extends "base_generic.html" %}
{% block navbar %}{% endblock %}

{% block content %}
    <div class="index-wrapper">
      <div>
        <div>
          <h1 class="headline">Comfort Dent</h1>
          <p class="author">
           developed by Katerina Popovich<span class="heart">&hearts;</span>
          </p>
        </div>
        <div class="links">
          <a href="{% url 'doctor_list' %}">See doctor list</a>
          <a href="{% url 'schedule' %}">See schedule</a>
        </div>
      </div>
    </div>
{% endblock %}
